

Book/Shader/UnrealShader/UnrealShader/.vs/
Book/Shader/UnrealShader/UnrealShader/Intermediate/
Book/Shader/UnrealShader/UnrealShader/Binaries/
Book/Shader/UnrealShader/UnrealShader/Saved/
Book/Shader/UnrealShader/UnrealShader/UnrealShader.sln

Book/Shader/Graphic/.vs/
Book/Shader/Graphic/Intermediate/
Book/Shader/Graphic/Binaries/
Book/Shader/Graphic/Saved/
Book/Shader/Graphic/UnrealShader.sln
.DS_Store
