<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets >
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>func</Title>
            <Shortcut>func</Shortcut>
        </Header>
        <Snippet>
            <Code Language="cpp"><![CDATA[
/*================================================
 *
 *================================================/
            ]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>
